<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<style>
		.banner { background-color:#1A315F; color: white; padding: 5px
		10px; margin-bottom: 10px;
        }
	</style>
	<window>
		<hbox align="left" width="100%" sclass="banner">
			<image src="/img/pnc.png" width="90px" />
			<div hflex="1"></div>
			<image src="/img/pnc-logo-transparent.png" width="250px" />
			<div hflex="1"></div>
		</hbox>
	</window>
</zk>