<zk>
	<borderlayout>
		<!-- <north border="none" height="10%">
			<include src="/header.zul" />
		</north> -->
		<west width="10%" border="0" splittable="true"
			collapsible="true">
			<!-- <include src="/menu/sidemenubar.zul" /> -->
			<include src="/menu/sidemenubar_ce.zul" />
		</west>
		<center border="0" autoscroll="true"
			viewModel="@id('m') @init('com.dss.viewmodel.MainViewModel')">
			<include mode="instant"  src="@load(m.currentPage.link)" />
		</center>
		<!-- <south border="none">
			<include src="/footer.zul" />
		</south> -->
	</borderlayout>
</zk>