<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
</h:head>
<h:body>
	<ui:composition>
		<p:tabView dynamic="true">
			<p:tab title="Details">
				<ui:include src="styledetailstab.xhtml" />
			</p:tab>
			<p:tab title="KPIs">
				<ui:include src="stylekpistab.xhtml" />
			</p:tab>
			<p:tab title="E-Com PIN">
				<ui:include src="styleecompintab.xhtml" />
			</p:tab>
		</p:tabView>
	</ui:composition>
</h:body>
</html>
