<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
</h:head>
<h:body>
	<ui:composition>
		<h:form>
			<!-- <p:panelGrid columns="2" rendered="#{styleMasterFilterBean.selectedStyleMaster!=null}">
				<p:graphicImage value="#{styleOps.selectedStyleDetails.imagePath}" height="200px" width="170px" />
				<p:dataGrid value="#{styleOps.styleDetailsColumnModel}" var="styl" columns="1">
					<p:row>
						<p:column>
							<h:outputText value="#{styl.header}"/>
						</p:column>
						<p:column>
							<h:outputText value="#{styleOps.selectedStyleDetails[styl.property]}" />
						</p:column>
					</p:row>
				</p:dataGrid>
			</p:panelGrid> -->
		</h:form>
	</ui:composition>
</h:body>
</html>
