<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
</h:head>
<h:body>
	<ui:composition>
		<h:form>
		<h:panelGroup rendered="#{styleMasterFilterBean.selectedStyleMaster!=null}">
			<p:panelGrid styleClass="borderless">
				<p:row>
					<p:column rowspan="8">
						<p:graphicImage value="#{styleMasterFilterBean.selectedStyleMaster.imageUrl}" height="200px" width="170px" />
					</p:column>
					<p:column>
						<p:row>
							<p:column style="font-weight:bold;">Style</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.styleDesc}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Season</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.season.seasonCode}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Style Number</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.styleId}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Assortment Group</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.asssortmentGroup.assortmentGroupId} #{styleMasterFilterBean.selectedStyleMaster.asssortmentGroup.assortmentGroupDesc}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Brand</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.brand.brandId} #{styleMasterFilterBean.selectedStyleMaster.brand.brandDesc}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Buyer/Buying Director</p:column>
							<p:column>#{styleMasterFilterBean.selectedStyleMaster.buyer} / #{styleMasterFilterBean.selectedStyleMaster.buyingDirector.buyingDirectorCode}</p:column>
						</p:row>
						<p:row>
							<p:column style="font-weight:bold;">Merchandise Planner</p:column>
							<p:column> </p:column>
						</p:row>
					</p:column>
				</p:row>
			</p:panelGrid>
			<br/>
			<p:panelGrid style="width:100%;">
				<f:facet name="header">
					<p:row>
						<p:column style="font-weight:bold;width:140px;">Supplier Shape</p:column>
						<p:column style="font-weight:normal;text-align:left;">#{styleMasterFilterBean.selectedStyleMaster.supplierShape}</p:column>
					</p:row>
					<p:row>
						<p:column style="font-weight:bold;width:140px;">Supplier Desc</p:column>
						<p:column style="font-weight:normal;text-align:left;">#{styleMasterFilterBean.selectedStyleMaster.supplierDesc}</p:column>
					</p:row>
					
				</f:facet>
			</p:panelGrid>
			<br/>
			<p:panelGrid style="width:100%;">
				<f:facet name="header">
					<p:row>
						<p:column style="font-weight:bold;width:140px;">Supplier Material</p:column>
						<p:column style="font-weight:normal;text-align:left;">#{styleMasterFilterBean.selectedStyleMaster.supplierMaterial}</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
			<br/>
			<p:panelGrid style="width:100%;">
				<f:facet name="header">
					<p:row>
						<p:column>-</p:column>
						<p:column>Saison</p:column>
						<p:column>DE</p:column>
						<p:column>PL</p:column>
						<p:column>AT</p:column>
						<p:column>HU</p:column>
						<p:column>CZ</p:column>
						<p:column>CH</p:column>
						<p:column>LV</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						Avg Order-VK
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						Avg Akt VK
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						Avg Order-VK
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						Avg Akt VK
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
					<p:column>
						<p:inputNumber size="3" placeholder="321" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<br/>
			<h:outputText value="Style status pro Saison"/>
			<br/>
			<br/>
			<p:dataTable  id="articleContentTable" var="eachArticle" value="#{styleMasterFilterBean.selectedStyleMaster.listOfArticle}"
							 rowKey="#{eachArticle.articleId}" style="text-align:center;">
					<p:column headerText="Active">
						<p:selectBooleanCheckbox />
					</p:column>
					<p:column headerText="Style Color">#{eachArticle.styleColorId}</p:column>
					<p:column headerText="%">25%</p:column>
					<p:column headerText="Supplier Art. No.">#{eachArticle.supplierArticleNumber}</p:column>
					<p:column headerText="Seasons">#{styleMasterFilterBean.selectedStyleMaster.seasons}</p:column>
					<p:column headerText="NOS">
						<p:selectBooleanCheckbox />
					</p:column>
					<p:column headerText="Size Range">#{eachArticle.sizeRange}</p:column>
			</p:dataTable>
		</h:panelGroup>
		</h:form>
	</ui:composition>
</h:body>
</html>
