<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
</h:head>
<h:body>
	<div class="modal-header">
		<p:graphicImage value="/images/PandC/pnc.png" height="80px" title="Peek and Cloopenburg"  />
		<p:graphicImage styleClass="header-text-font" value="/images/PandC/pnc-title.png"/>
	</div>
</h:body>
</html>