<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
</h:head>
<h:body>
	<ui:composition>
		<p:panelMenu>
			<p:submenu label="Masterdata" />
			<p:submenu label="Styles">
				<p:menuitem url="/pages/styles/overview.xhtml" value="Overview" />
				<p:menuitem url="/pages/styles/supplierstyle.xhtml" value="supplierstyles" />
			</p:submenu>
			<p:submenu label="Linelist"></p:submenu>
			<p:submenu label="Quantity calculation"></p:submenu>
			<p:submenu label="Settings"></p:submenu>
		</p:panelMenu>
	</ui:composition>

</h:body>
</html>
