<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Trial</title>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
	<!-- <style type="text/css">
	.ui-layout-pane-north.ui-widget-content{
		 border: 0;
		}

		 .ui-layout-pane-south.ui-widget-content{
		 border: 0;
		}

		 .ui-layout-pane-east.ui-widget-content{
		 border: 0;
		}

		 .ui-layout-pane-west.ui-widget-content{
		 border: 0;
		}

		 .ui-layout-pane-center.ui-widget-content{
		 border: 0;
		}
	</style> -->
</h:head>
<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" id="top" size="110">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="west" size="130" header="Menu Item" collapsible="true">
			<ui:insert name="leftcontent">
				<h:form>
					<ui:include src="leftcontent.xhtml" />
				</h:form>
			</ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="center" resizable="true" >
			<ui:insert name="centercontent">
				<h:form>
					<ui:include src="middlecontent.xhtml" />
				</h:form>
			</ui:insert>
		</p:layoutUnit>
		<p:layoutUnit position="south" size="80">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
