<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
 
 <tabbox  height="100%"   >
    <tabs >
        <tab label="Detail"   />
      <tab label="KPIs"  />
         <tab label="E-COM PIM"  /> 
          
    </tabs>
    <tabpanels>
        <tabpanel><include src="menu/styles/styledetail.zul" /></tabpanel>
    
    <!-- <tabpanel><include src="menu/styles/stylePreview.zul" /></tabpanel>  --> 
    
       <tabpanel><include src="menu/styles/kpis.zul"  /></tabpanel>
         <tabpanel> <include src="menu/styles/e-compim.zul"  />  </tabpanel> 
          
    </tabpanels>
</tabbox>
 
</zk>