<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<style>.scroll { overflow-x: auto !important; }</style>

	<!-- <window title="@bind(vm.selectedMenu.name)" border="normal"
		viewModel="@id('vm') @init('com.dss.viewmodel.StyleOverviewViewModel')"   width="100%"
		height="100%"> -->
	<borderlayout sclass="scroll">

		<center autoscroll="true" hflex="min">
			<grid
				viewModel="@id('vm') @init('com.dss.viewmodel.StyleOverviewViewModel')">
				<columns>
					<column />
				</columns>

				<rows>
					<row>
						<hlayout hflex="min" sclass="scroll">
							<image src="img/Damen.png"></image>

							<grid>
								<columns>
									<column hflex="min" />
									<column hflex="min" />
								</columns>


								<rows>

									<row style="font-weight: bold;">

										Style
										<label
											value="@bind(vm.selectedStyle.styleDesc)" />
									</row>


									<row>
										Seasons
										<label
											value="@bind(vm.selectedStyle.season.seasonId)" />
									</row>

									<row>
										Stylenumber
										<label
											value="@bind(vm.selectedStyle.styleId)" />
									</row>

									<row>
										assortment group
										<hlayout>
											<label
												value="@bind(vm.selectedStyle.asssortmentGroup.assortmentGroupId)" />
											<label
												value="@bind(vm.selectedStyle.asssortmentGroup.assortmentGroupDesc)">
											</label>
										</hlayout>
									</row>

									<row>
										brand
										<hlayout>
											<label
												value="@bind(vm.selectedStyle.brand.brandId)" />
											<label
												value="@bind(vm.selectedStyle.brand.brandDesc)">
											</label>
										</hlayout>
									</row>

									<row>
										buyer/buying director
										<hlayout>
											<label
												value="@bind(vm.selectedStyle.buyer)" />
											/
											<label
												value="@bind(vm.selectedStyle.buyer)" />
										</hlayout>
									</row>

									<row>
										merchandise planner
										<label
											value="@bind(vm.selectedStyle)" />
									</row>
								</rows>

							</grid>

						</hlayout>
					</row>

					<row>
						supplier infos like supplier shape,supplier
						style,supplier shape,supplier description
					</row>

					<row>
						material(of style) and other relevant attributes
						like sizetype
					</row>

					<row>


						<grid>
							<columns>
								<column />
							</columns>


							<rows>

								<row>
									avg Order-VK
									<label value=" " />
								</row>

								<row>
									avg Akt VK
									<label value=" " />
								</row>

								<row>
									avg Order-VK
									<label value=" " />
								</row>

								<row>
									avg Akt VK
									<label value=" " />
								</row>


							</rows>

						</grid>

					</row>

					<row>styletatus per season</row>
					<row>
						<grid>
							<columns>
								<column>active</column>
								<column>style color</column>
								<column>%</column>
								<column>supplier article no.</column>
								<column>seasons</column>
								<column>NOS</column>
								<column>sizerange</column>
							</columns>


							<rows>

								<row>
									ac
									<label value=" " />
								</row>



							</rows>

						</grid>
					</row>
				</rows>


			</grid>
		</center>
	</borderlayout>

</zk>