<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<window title="Styles Overview" border="normal" height="100%"
		viewModel="@id('vm') @init('com.dss.viewmodel.StyleOverviewViewModel')"
		width="100%">
		<grid>
			<columns>
				<column />
			</columns>
			<rows>
				<row>
					<hbox hflex="1" zclass="z-menubar-hor" height="30px"
						align="center" id="toolbar">
						<space />
						<toolbarbutton visible="true"
							image="/img/add.png" hoverImage="/img/add1.png"
							tooltiptext="Add" />
						<space />
						<space />
						<space />
						<space />
						<toolbarbutton visible="true"
							image="/img/del.png" hoverImage="/img/del1.png"
							tooltiptext="Delete" />
						<space />
						<space />
						<space />
						<space />
						<toolbarbutton visible="true"
							image="/img/edit.png" hoverImage="/img/edit1.png"
							tooltiptext="Edit" />
						<space />
						<space />
						<space />
						<space />
						<toolbarbutton visible="true"
							image="/img/send-to-linelist.png"
							hoverImage="/img/send-to-linelist1.png"
							tooltiptext="Send to Linelist" />
						<space />
						<space />
						<space />
						<space />
						<toolbarbutton visible="true"
							image="/img/customize.png" hoverImage="/img/customize1.png"
							tooltiptext="Customize" />
						<space />
						<space />
						<space />
						<space />
						<toolbarbutton visible="true"
							image="/img/excel.png" hoverImage="/img/excel1.png"
							tooltiptext="Export to Excel" />
					</hbox>
				</row>
			</rows>
		</grid>
		<grid>
			<columns>
				<column />
			</columns>
			<rows>
				<row>
					<borderlayout height="800px">
						<north title="Filter area" size="13%"
							splittable="true" collapsible="true">
							<grid>
								<columns>
									<column width="18%" />
									<column width="18%" />
									<column width="18%" />
									<column width="18%" />
									<column width="18%" />
									<column />
								</columns>
								<rows>
									<row>

										<combobox width="100%" onChange="@command('onSelectBrandType')"
											model="@bind(vm.brandTypeList)" placeholder="Brand Type" tooltiptext="Brand Type"
											mold="rounded" selectedItem="@bind(vm.selectedBrandType)">
											<template name="model">
												<comboitem
													label="@bind(each.brandTypeDesc)"
													value="@bind(each.brandTypeDesc)" />
											</template>
										</combobox>

										<combobox id="brand" tooltiptext="Brand"
											width="100%" model="@bind(vm.brandList)" placeholder="Brand"
											mold="rounded" selectedItem="@bind(vm.selectedBrand)">
											<template name="model">
												<comboitem
													label="@bind(vm.getBrandLabel(each))"
													value="@bind(vm.getBrandLabel(each))" />
											</template>
										</combobox>
										<combobox id="buyingDirector" tooltiptext="Buying Director"
											width="100%" model="@bind(vm.buyingDirectorList)"
											placeholder="Buying Director"
											onChange="@command('onBuyingDirectorSelect')"
											selectedItem="@bind(vm.selectedBuyingDirector)">
											<template name="model"
												var="item">
												<comboitem
													label="@bind(item.buyingDirectorCode)" />
											</template>
										</combobox>
										<combobox id="assortmentgroup" tooltiptext="Assortmentgroup"
											width="100%" model="@bind(vm.assortmentGroupList)"
											placeholder="Assortmentgroup"
											selectedItem="@bind(vm.selectedAssortmentGroup)">
											<template name="model">
												<comboitem
													label="@bind(each.assortmentGroupDesc)" />
											</template>
										</combobox>
										<combobox id="season" tooltiptext="Season"
											width="100%" model="@bind(vm.seasonList)"
											placeholder="Season"
											selectedItem="@bind(vm.selectedSeason)">
											<template name="model">
												<comboitem
													label="@bind(each.seasonCode)" />
											</template>
										</combobox>

										<button label="Search"
											width="90px" onClick="@command('search')" />
									</row>
									<row>
										<longbox tooltiptext="Style Number"
											placeholder="Style Number" width="100%"
											value="@bind(vm.enteredStyleNumber)"
											constraint="no negative" />

										<combobox width="100%" tooltiptext="FashionLevel"
											model="@bind(vm.fashionLevelList)" placeholder="FashionLevel"
											selectedItem="@bind(vm.selectedFashionLevel)">
											<template name="model">
												<comboitem
													label="@bind(each.fashionLevelDesc)" />
											</template>
										</combobox>
										<combobox width="100%" tooltiptext="Sales Program"
											model="@bind(vm.salesProgramList)"
											placeholder="Sales Program"
											selectedItem="@bind(vm.selectedSalesProgram)">
											<template name="model">
												<comboitem
													label="@load(each.salesProgramDesc)">
												</comboitem>
											</template>
										</combobox>
										<!-- <combobox id="salesprogram"
											width="100%"
											model="@bind(m.menuList)" autodrop="true" >
											<template name="model">
											<comboitem
											label="@bind(each.name)" />
											</template>
											</combobox> -->
										<combobox id="trendtopic" tooltiptext="Trend Topic"
											width="100%" model="@bind(vm.trendTopicList)"
											placeholder="Trend Topic"
											selectedItem="@bind(vm.selectedTrandTopic)">
											<template name="model">
												<comboitem
													label="@bind(each.trendTopicDesc)" />
											</template>
										</combobox>

										<!-- 		<button label="Thema"
											iconSclass="z-icon-search" onClick="@command('onThemaEnter',tar)" /> -->

										<textbox width="100%" tooltiptext="Theme"
											placeholder="Theme" sclass="z-icon-search"
											value="@bind(vm.themeDesc)">

										</textbox>

										<button label="Reset"
											width="90px" onClick="@command('reset')" />
									</row>
								</rows>
							</grid>
						</north>
						<center border="0" vflex="true">
							<listbox id="styleListbox"
								model="@load(vm.styleList)" mold="paging" pageSize="5"
								selectedItem="@bind(vm.selectedStyle)">
								<listhead>
									<listheader sort="auto(brand.brandDesc)" sortDirection="ascending">
										<label value="Brand"
											style="font-weight:bold;" self="@{i18n(value) }" />
									</listheader>
									<listheader  sort="auto(styleNumber)" >
										<label value="Style Number"
											style="font-weight:bold;" self="@{i18n(value) }" />
									</listheader>
									<listheader sort="auto(styleDesc)">
										<label value="Style Desc." 
											style="font-weight:bold;" self="@{i18n(value) }" />
									</listheader>
									<listheader  sort="auto(seasons)" >
										<label value="Seasons"
											style="font-weight:bold;" self="@{i18n(value) }" />
									</listheader>
									<listheader  sort="auto(numberOfColors)">
										<label value="Number of Colors"
											style="font-weight:bold;" self="@{i18n(value) }" />
									</listheader>
								</listhead>
								<template name="model">
									<listitem>
										<listcell
											label="@bind(each.brand.brandDesc)" />
										<listcell
											label="@bind(each.styleNumber)" />
										<listcell
											label="@bind(each.styleDesc)" />
										<listcell
											label="@bind(each.seasons)" />
										<listcell
											label="@bind(each.numberOfColors)" />
									</listitem>
								</template>
							</listbox>


						</center>
						<south>

						</south>

					</borderlayout>
				</row>


			</rows>
		</grid>



		<popup id="title" width="400px">
			<html>
















				
				<![CDATA[Input the subject of this letter. Problem
				report :]]>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
			</html>
			<toolbarbutton label="ZK Forum" target="zkdemo"
				href="http://www.zkoss.org/forum" />
		</popup>
	</window>
</zk>



