<zk>
	<borderlayout width="100%" height="100%"> 
		<center id="mainContent4" border="none" autoscroll="true" hflex="2">
			<include src="menu/styles/styleoverviewmain.zul"></include>
		</center>
		<east border="none" splittable="true" collapsible="true"
			width="35%" autoscroll="true">
			<!-- <include src="menu/styles/styleoverviewdetail.zul"/>  -->
			<include src="menu/styles/stylePreview.zul"/> 
		</east>
	</borderlayout> 
</zk>