<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css" />
	<!-- For moving pagination row at the bottom didn't worked over here -->
	<!-- <style type="text/css">
	.ui-paginator.ui-paginator-bottom 
	{
    border-top: 0 none;
    position: fixed;
    bottom: 95px;
    width: 1110px;
	}
	</style> -->
</h:head>
<h:body>
	<ui:composition template="../start/welcome.xhtml">
		<ui:define name="centercontent">
			<!-- <p:layout style="height:690px;"> -->
			<h:form id="form">
				<p:layout style="height:705px;">
					<p:layoutUnit id="center" position="center">
						<ui:insert name="centerleft">
								<p:panelGrid columns="6" styleClass="borderless" style="width:100%;text-align:center;">
								<p:commandButton value="Add" icon="pi pi-check" />
								<p:commandButton value="Delete" oncomplete="PF('dlg').show()" icon="pi pi-check" />
								<p:commandButton value="Edit" oncomplete="PF('dlg').show()" icon="pi pi-check" />
								<p:commandButton value="Send to linelist" oncomplete="PF('dlg').show()" icon="pi pi-check" />
								<p:commandButton value="Customize" oncomplete="PF('dlg').show()" icon="pi pi-check" />
								<p:commandButton value="Export to Excel" oncomplete="PF('dlg').show()" icon="pi pi-check" />
							</p:panelGrid>
							
							<p:accordionPanel id="filterArea" styleClass="accordianPanelPaddingCSS">
								<p:tab title="Filter Area">
									<p:panelGrid columns="6" styleClass="paddingless" style="width:100%;">
										<p:selectOneMenu id="brandTypeId" value="#{styleMasterFilterBean.selectedBrandType}">
											<f:selectItem itemLabel="brand type" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.brandTypes}" var="brandtype" itemLabel="#{brandtype.brandTypeDesc}" itemValue="#{brandtype.brandTypeId}" />
										</p:selectOneMenu>

										<p:selectOneMenu id="brandId" value="#{styleMasterFilterBean.selectedBrand}">
											<f:selectItem itemLabel="brandfamily/brand" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.brands}" var="brand" itemLabel="#{brand.brandDesc}" itemValue="#{brand.brandId}" />
										</p:selectOneMenu>

										<p:selectOneMenu id="buyingDirectorId" value="#{styleMasterFilterBean.selectedBuyingDirector}">
											<p:ajax listener="#{overviewInitBean.onSelectingBuyingDirector}" update="assortmentGroupId" />
											<f:selectItem itemLabel="buyingdirector" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.buyingDirectors}" var="buyingDirector" itemLabel="#{buyingDirector.buyingDirectorCode}" itemValue="#{buyingDirector.buyingDirectorId}" />
										</p:selectOneMenu>

										<p:selectOneMenu id="assortmentGroupId" value="#{styleMasterFilterBean.selectedAssortmentGroup}">
											<f:selectItem itemLabel="assortmentGroup" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.assortmentGroups}" var="assortmentGroup" itemLabel="#{assortmentGroup.assortmentGroupDesc}" itemValue="#{assortmentGroup.assortmentGroupId}" />
										</p:selectOneMenu>

										<p:selectOneMenu id="seasonId" value="#{styleMasterFilterBean.selectedSeason}">
											<f:selectItem itemLabel="season" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.seasons}" var="season" itemLabel="#{season.seasonCode}" itemValue="#{season.seasonId}" />
										</p:selectOneMenu>

										<p:commandButton value="Submit" action="#{styleMasterFilterBean.getStyleData}" update="@form:styleMastersContentTable,@form:centerRightPanel"/>

										<p:inputNumber styleClass="heightcss" decimalPlaces="0" value="#{styleMasterFilterBean.enteredStyleNumber}" placeholder="Style Number" />
										
										<p:selectOneMenu id="fashionlevelId" value="#{styleMasterFilterBean.selectedFashionLevel}">
											<f:selectItem itemLabel="fashionlevel" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.fashionLevels}" var="fashionlevel" itemLabel="#{fashionlevel.fashionLevelDesc}" itemValue="#{fashionlevel.fashionLevelId}" />
										</p:selectOneMenu>
										
										<p:selectOneMenu id="salesprogramId" value="#{styleMasterFilterBean.selectedSalesProgram}">
											<f:selectItem itemLabel="salesprogram" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.salesProgram}" var="salesprogram" itemLabel="#{salesprogram.salesProgramDesc}" itemValue="#{salesprogram.salesProgramId}" />
										</p:selectOneMenu>
										
										<p:selectOneMenu id="trendtopicId" value="#{styleMasterFilterBean.selectedTrendTopic}">
											<f:selectItem itemLabel="trendtopic" itemValue="" noSelectionOption="true" />
											<f:selectItems value="#{overviewInitBean.trendTopics}" var="trendtopic" itemLabel="#{trendtopic.trendTopicDesc}" itemValue="#{trendtopic.trendTopicId}" />
										</p:selectOneMenu>
										
										<p:inputText styleClass="heightcss" id="themeId" placeholder="thema" value="#{styleMasterFilterBean.enteredTheme}" />
										
										<p:commandButton value="Reset" update="filterArea,@form:styleMastersContentTable,@form:centerRightPanel" process="@this" action="#{styleMasterFilterBean.resetValues}" />
											
									</p:panelGrid>
								</p:tab>
							</p:accordionPanel>

							<p:dataTable  id="styleMastersContentTable" var="eachStyleMaster" value="#{styleMasterFilterBean.styleMasters}" selectionMode="single" 
							selection="#{styleMasterFilterBean.selectedStyleMaster}" rowKey="#{eachStyleMaster.styleId}" paginator="true" paginatorPosition="bottom" 
							rows="5" paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5">
								<p:ajax event="rowSelect" update="@form:centerRightPanel" listener="#{styleMasterFilterBean.onStyleMasterSelect}" />
								<p:columns value="#{styleMasterFilterBean.styleMasterTableColumn}" var="column" sortBy="#{eachStyleMaster[column.property]}">
									<f:facet name="header">
										<h:outputText value="#{column.header}" />
									</f:facet>
									<h:outputText value="#{eachStyleMaster[column.property]}" />
								</p:columns>
							</p:dataTable>
						</ui:insert>
					</p:layoutUnit>
					<p:layoutUnit position="east" size="45%" resizable="true">
						<h:panelGroup id="centerRightPanel">
							<ui:insert name="centerright">
								<ui:include src="./overview/centerright.xhtml" />
							</ui:insert>
						</h:panelGroup>
					</p:layoutUnit>
				</p:layout>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>