/* .boxlabel {
    font-family:Arial;
    font-weight: bold;
    font-size: 12px;
    color:#002b37;
    
}
 
.z-comboitem {
    padding-bottom:4px;
}
  */
/* .z-combobox-input{
 width: 40%;
 } */
 .z-combobox-input{
 width: 40%;
 } 
 
 .z-combobox .z-combobox-btn {
	border-color: rgb(134, 164, 190) rgb(134, 164, 190) rgb(134, 164, 190)
		rgb(134, 164, 190);
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	margin-left: -1px;
	background-position: -19px -1px;
	 width: 40%;
}

